.text,
.footer-text {
    color: azure;
    margin: auto auto;
}

p {
    color: azure;
}

.img {
    width: 30px;
}

footer {
    background: linear-gradient(270deg, #06b131 0%, #1707f2 100%);
    margin-top: 1em;
}

.social {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.img {
    margin-inline: 1em;
}

.help {
    text-align: center;
}

.coll {
    animation: coll 2s ease 0s 100 normal forwards;
}

.glob bdo {
    transform: rotate(335deg);
    font-size: 200px;
    z-index: 1;
    color: rgba(210, 105, 30, 0.422);
}

@keyframes coll {
	0%,
	100% {
		transform: translateX(0%);
		transform-origin: 50% 50%;
	}

	15% {
		transform: translateX(-30px) rotate(-6deg);
	}

	30% {
		transform: translateX(15px) rotate(6deg);
	}

	45% {
		transform: translateX(-15px) rotate(-3.6deg);
	}

	60% {
		transform: translateX(9px) rotate(2.4deg);
	}

	75% {
		transform: translateX(-6px) rotate(-1.2deg);
	}
}

.btn-outline-primary {
    background: linear-gradient(270deg, #06b131 0%, #1707f2 100%);
}